<!-- Todo complex email -->
<strong>Recuração de Senha</strong>

<h1>Olá, {{ username }}</h1>

<p>
  Lorem ipsum dolor sit amet consectetur adipisicing elit. In, quidem a ducimus
  magnam rerum reiciendis hic necessitatibus eum, vero dolor dolores ad
  praesentium nostrum ullam. Nostrum voluptatem doloremque iure iusto!

  {{ email }}
</p>

<p>Use o token para resetar a senha {{ token }} ou clique no link</p>

<!-- TODO front end -->
<a href="{{ link }}">Criar nova senha!</a>
