<!-- Todo complex email -->
<strong>Confirmação de registro em Meetup</strong>

<h1>Olá, {{ name }}</h1>

<p>
  Sua inscrição no Meetup <strong>{{ title }}</strong> está confirmada e
  garantida.
</p>

<p>Você pode conferir mais informações sobre o encontro no link a seguir:</p>

<!-- TODO front end -->
<a href="{{ link }}">Detalhes do Meetup</a>

<p>Agradecemos a sua inscrição!</p>
<strong>Equipe MeetApp</strong>
